<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="net.sf.l2j.commons.logs.ConsoleLogLayout"/>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/java.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>java_%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="net.sf.l2j.commons.logs.FileLogLayout"/>
        </encoder>
    </appender>

    <appender name="LOGIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="net.sf.l2j.loginserver.util.logging.LoginFilter"/>

        <file>log/login.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>auth_%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="net.sf.l2j.commons.logs.ConsoleLogLayout"/>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="LOGIN"/>
    </root>

</configuration>